@import "assets/font/font.css";
@import "assets/css/normalize.css";
@import "assets/css/swiper-bundle.min.css";
@import "assets/css/nouislider.css";
@import "assets/iocns/style.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/footer.css";
@import "assets/css/catalog.css";
@import "assets/css/product.css";
@import "assets/css/about-company.css";
@import "assets/css/education.css";
@import "assets/css/shopping.css";
@import "assets/css/personal-area.css";
@import "assets/css/modal.css";



