.about-company-sec{
    padding-top: 20px;
}
.about-company__info p{
    margin-top: 20px;
    color: rgba(115, 135, 154, 1);
    font-weight: 500;
    line-height: 18px;
}

.about-company__flex{
    margin: 40px 0;
    display: flex;
    gap: 10px;
}
.about-company__box{
    width: 25%;
    background: rgba(204, 233, 239, 1);
    padding: 15px 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-company__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(163, 169, 181, 0.2);
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 32px;
    height: 32px;
}
.about-company__box strong{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    color: rgba(2, 19, 35, 1);
}
.about-company__box p{
    text-align: center;
    font-weight: 400;
    margin-top: 4px;
    line-height: 15px;
}

.about-company__info ul{
    list-style-type: disc;
    margin-top: 20px;
    margin-left: 20px;
}
.about-company__info ul li{
    margin-top: 5px;
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}
.about-map-sec{
    margin-top: 40px;
}
.about-map__flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about-map__cnt{
    max-width: 691px;
    width: 100%;
    display: flex;
    position: relative;
    height: 323px;
}
.about-map__info{
    background: rgba(248, 246, 244, 1);
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px 10px 0 0;
}
.about-map__info span{
    color: rgba(2, 19, 35, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}
.about-map__info p{
    color: rgba(17, 27, 33, 1);
    margin-top: 5px;

}
.about-map__info small{
    display: block;
    margin-top: 10px;
    color: rgba(123, 132, 149, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
}
.about-map__cnt iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about-map__block{
    max-width: 520px;
    width: 100%;
}
.about-map__item{
    background: rgba(248, 246, 244, 1);
    padding: 10px;
    border-radius: 8px;
}
.about-map__item strong{
    color: rgba(2, 19, 35, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
}
.about-map__item>ul li{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.about-map__item>ul li p{
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
}
.about-map__item>ul li span{
    color: rgba(2, 19, 35, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}
.about-map__item + .about-map__item{
    margin-top: 10px;
}
.about-map__item .footer__contact ul {
    margin-top: 0;
}
.about-map__item .footer-soc {
    margin-top: 12px;
}


@media (max-width: 1360px){
    .about-map__block {
        max-width: 450px;
    }
}
@media (max-width: 1020px){
    .about-map__block {
        max-width: 280px;
    }
    .about-company__flex{
        flex-wrap: wrap;
        margin: 30px 0;
    }
    .about-company__box {
        width: 48.5%;
    }


}
@media (max-width: 760px){
    .about-map__flex {
        flex-direction: column;
    }
    .about-map__block {
        max-width: 100%;
    }
    .about-company__info>p {
        margin-top: 15px;
        line-height: 17px;
    }
    .about-company-fon{
        background: rgba(248, 246, 244, 1);

    }
}

@media (max-width: 570px){
    .about-company__box {
        width: 100%;
    }
}