.training-doctors-sec{
    margin-top: 20px;
}
.training-doctors__title span{
    display: block;
    color: rgba(2, 19, 35, 1);
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
}

.training-doctors__flex{
    margin-top: 20px;
    display: flex;
    align-items: start;
    gap: 20px;
}
.training-doctors__block{
    position: relative;
    background: linear-gradient(70.14deg, #AED5DD 8.96%, #CCE9EF 95.63%);
    max-width: 444px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
}

.training-doctors__block:before{
    content: "";
    position: absolute;
    left: 105px;
    top: 0;
    background-image: url("../img/circk1.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 253px;
    width: 100%;
    height: 79px;
}
.training-doctors__block:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/circk2.png");
    width: 105px;
    height: 122px;
}

.cost-education{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cost-education span{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}
.cost-education strong{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
}

.theoretical-part-text{
    margin-top: 20px;
}
.theoretical-part-text strong{
    color: rgba(2, 19, 35, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;

}
.theoretical-part-text ul {
    list-style-type: disc;
    margin-left: 20px;
}
.theoretical-part-text ul li{
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-top: 6px;
}
.theoretical-part-text + .theoretical-part-text{
    border-top: 1px solid rgba(60, 74, 87, 0.2);
    padding-top: 20px;
}
.training-doctors__block small{
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(115, 135, 154, 1);
    display: block;
    margin-top: 20px;
}

.training-doctors__info{
    width: 100%;
}
.training-doctors__info p{
    color: rgba(115, 135, 154, 1);
}
.training-doctors__info strong{
    display: block;
    margin-top: 20px;
    color: rgba(2, 19, 35, 1);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.style-ul-disk{
    margin-top: 15px;
    list-style-type: disc;
    margin-left: 20px;
}
.style-ul-disk li{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(115, 135, 154, 1);
}

.training-special{
    margin-top: 40px;
}
.training-special__cnt{
    margin-top: 20px;
}
.training-special__box{
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 40px;
}
.training-special__photo{
    display: flex;
    max-width: 177px;
    width: 100%;
}
.training-special__photo img{
    width: 100%;
    border-radius: 4px;
}
.training-special__info{
    width: 100%;
}
.training-special__info h3{
    color: rgba(2, 19, 35, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}
.training-special__info p{
    margin-top: 10px;
    color: rgba(115, 135, 154, 1);
    line-height: 18px;
    font-weight: 500;
}
.training-special__info .style-ul-disk {
    margin-top: 7px;
}










@media (max-width: 760px){
    .training-doctors__flex {
        flex-direction: column;
    }
    .training-special__box {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 570px){
    .cost-education {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
    .theoretical-part-text {
        margin-top: 15px;
    }
    .training-doctors__block:before {
        left: auto;
        right: 0;
        max-width: 200px;
        height: 57px;
    }
    .training-doctors__block:after {
        width: 63px;
        height: 81px;
    }
}