footer{
    background: rgba(248, 246, 244, 1);
    padding: 24px 0;
}
footer:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 258px;
    width: 100%;
    height: 264px;
    background-image: url("../img/ptich.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__main{
    display: flex;
    align-items: start;
    gap: 60px;
    position: relative;
    justify-content: space-between;
}
.footer__info{
    max-width: 136px;
    width: 100%;
}
.footer__logo{
    display: flex;
}
.footer-soc{
    margin-top: 20px;
}
.footer-soc ul{
    display: flex;
    gap: 14px;
}
.footer-soc ul li a{
    display: flex;
}
.footer-soc ul li a .icons{
    color: rgba(2, 19, 35, 1);
    font-size: 18px;
}
.footer__info p{
    margin-top: 20px;
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;

}

.footer__main strong{
    color: rgba(2, 19, 35, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}
.footer__menu{
    max-width: 215px;
    width: 100%;
}
.footer__menu ul{
    margin-top: 20px;
}
.footer__menu ul li{
    margin-top: 14px;
}
.footer__menu ul li a{
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
}
.footer__menu ul li a:hover{
    color: rgba(2, 19, 35, 1);
}
.footer__contact{
    max-width: 260px;
    width: 100%;
}
.footer__contact ul{
    margin-top: 20px;
}
.footer__contact ul li{
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__contact ul li:first-child{
    margin: 0;
}
.footer__contact ul li a, .footer__contact ul li p{
    color: rgba(2, 19, 35, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
}
.politic-href{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 24px;
    border-top: 1px solid rgba(115, 135, 154, 1);
    position: relative;
    z-index: 1;
}
.politic-href a{
    color: rgba(115, 135, 154, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    transition: 0.3s;
}
.politic-href a:hover{
    color: rgba(2, 19, 35, 1);
}

@media (max-width: 1020px){
    .footer__main {
        gap: 15px;
    }

    .footer__contact {
        max-width: 170px;
    }
    .footer__menu {
        max-width: 180px;
    }

}

@media (max-width: 760px){
    .footer__info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__info p {
        text-align: center;
        max-width: 130px;
        width: 100%;
    }

    .footer__main {
        gap: 40px 24px;
        flex-wrap: wrap;
    }
    .footer__menu {
        max-width: 220px;
    }
    .footer__menu ul li {
        margin-top: 10px;
    }
    .footer__contact {
        max-width: 100%;
    }
    footer:before {
        left: auto;
        right: 0;
    }
}
@media (max-width: 570px){
    .footer__menu {
        max-width: 180px;
    }
    .footer__menu:nth-child(3) {
        max-width: 125px;
    }
}