.header-top{
    background: #F5FAFF;
    position: relative;
}
.header-top:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/head-line.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header__main{
    position: relative;
    z-index: 1;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
}
.header__contact{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__contact .btn-cart{
    border-radius: 4px;
    padding: 8px 8px;
    width: 35px;
    height: 35px;
}
.header__phone{
    display: flex;
    align-items: center;
    gap: 8px;

}
.header__number{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 24px;
}
.icon-mobile-notch{
    color: #021323;
}
.header__phone{
    color: #021323;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
}
.call-us{
    margin-top: 2px;
    color: #73879A;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    border-bottom: 1px solid #73879A;
    transition: 0.3s;
}
.call-us:hover{
    color: #021323;
    border-bottom: 1px solid transparent;
}
.call-us .icon-call{
    display: none;
}
.btn-black{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 4px;
    background: rgba(2, 19, 35, 1);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    position: relative;
    transition: 0.3s;
}

.btn-black:hover{
    background: rgba(0, 5, 10, 1);
}
.btn-black:active{
    background: rgba(0, 5, 10, 1);
}



.icon-user{
    color: #ffffff;
}

.header__nav{
    background: #CCE9EF;
}
.header__cnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.head-catalog{
    position: relative;
}
.catalog-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 16px;
    background: rgba(2, 19, 35, 1);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    transition: 0.3s;
}
.head-catalog-menu{
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgba(245, 250, 255, 1);
    width: 247px;
    padding: 20px 16px;
    border-radius: 4px;
    left: 0;
    top: 46px;
    z-index: 11;
    display: none;
}
.head-catalog-active .head-catalog-menu{
    display: block;
}
.head-catalog-menu ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.head-catalog-menu ul li a{
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    transition: 0.3s;
}
.head-catalog-menu ul li a:hover{
    color: rgba(2, 19, 35, 1);
}
.icon-apps-add{
    color: #ffffff;
}
.header__menu{
    margin-right: auto;
    margin-left: 40px;
}
.header__menu ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__menu ul li a{
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: #021323;
    position: relative;
}
.header__menu ul li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: 0.3s;
    background: #021323;
    height: 1px;
}
.header__menu ul li a:hover:after{
    width: 100%;
}
.head-menu-numb{
    display: none;
}
.header__soc ul{
    display: flex;
    align-items: center;
    gap: 14px;
}
.header__soc ul li a{
    display: flex;
}
.header__soc ul li a .icons{
    color: #021323;
    font-size: 18px;
}


.open-menu {
    display: none;
    width: 18px;
    height: 15px;
    position: relative;
}
.open-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: rgba(115, 135, 154, 1);
    border-radius: 5px;
    left: 0;
}
.open-menu span:nth-child(2){
    width: 14px;
}

.open-menu span:nth-child(3){
    width: 8px;
}


.close-menu {
    display: none;
}
.body_fix {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 1330px){
    .catalog-btn {
        font-size: 12px;
        line-height: 12px;
    }
    .header__phone {
        font-size: 12px;
        line-height: 12px;
    }
    .header__menu ul li a {
        font-size: 12px;
        line-height: 12px;
    }

    .btn-black {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 1020px){
    .header__contact {
        gap: 20px;
    }
    .header__menu ul {
        gap: 16px;
    }
    .header__menu {
        margin-left: 30px;
    }
    .header__main {
        padding: 19px 0;
    }
    .header__number {
        margin-right: 0;
    }
    .header__contact .btn-cart {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 760px) {
    header{
        border-bottom: 1px solid rgba(98, 113, 128, 1);
    }
    .header__main {
        padding: 16px 0;
    }
    .header-logo{
        margin-right: auto;
        margin-left: 21px;
    }
    header .btn-black span{
        display: none;
    }
  header  .btn-black {
        padding: 7px;
        width: 42px;
        height: 42px;
    }
   header .btn-black .icons{
        font-size: 18px;
    }
    .header__number .header__phone{
        display: none;
    }
    .call-us span{
        display: none;
    }
    .call-us .icon-call{
        display: flex;
        font-size: 18px;
        color: rgba(2, 19, 35, 1);
    }
    .call-us{
        border: unset;
    }



    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 8px;
    }
    .open-menu span:last-child {
        top: 16px;
    }
    .open-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }

    .close-menu span {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: rgba(2, 19, 35, 1);
        height: 2px;
    }

   .close-menu span:last-child {
        display: none;
    }

    .close-menu span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 14px;

    }

    .close-menu span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 14px;
        top: 7px;

    }

    .header__nav {
        margin: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 75px;
        left: -100%;
        overflow-x: scroll;
        background: rgba(245, 250, 255, 1);
        padding: 20px 0;
    }

    .menu-width {
        left: -100%;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    .transition-menu {
        left: 0;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .header__cnt {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__menu ul li a {
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
    }
    .header__menu {
        margin: 32px 0 0;
        order: 2;
    }
    .header__menu ul {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__soc{
        order: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(98, 113, 128, 1);
    }
    .head-catalog {
        order: 3;
        margin-top: 20px;
        width: 100%;
    }
    .head-menu-numb {
        display: block;
    }
    .head-menu-numb small{
        color: rgba(115, 135, 154, 1);
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        text-align: left;

    }
    .header__phone {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        margin-top: 5px;
    }
    .catalog-btn {
        gap: 10px;
        padding: 0;
        background: unset;
        color: rgba(2, 19, 35, 1);
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        justify-content: flex-start;
        width: 100%;
        position: relative;
    }
    .catalog-btn:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 6px;
        height: 6px;
        border-top: 2px solid rgba(2, 19, 35, 1);
        border-right: 2px solid rgba(2, 19, 35, 1);
        transform: rotate(-45deg);
        transition: 0.3s;
    }
    .head-catalog-active .catalog-btn:after{
        transform: rotate(135deg);
        top: 1px;
    }
    .catalog-btn .icons{
        display: none;
    }
    .head-catalog-menu {
        position: relative;
        box-shadow: unset;
        background: unset;
        width: 100%;
        padding: 0;
        border-radius: 4px;
        left: 0;
        top: 0;
        z-index: 11;
        display: block;
        margin-top: 16px;
    }
    .head-catalog-active .head-catalog-menu {
        display: none;
    }
    .header__contact {
        gap: 15px;
    }
}