.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    padding: 10px;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
    transition: 0.3s;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: rgba(2, 19, 35, 1);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
}
.close:before{
    width: 100%;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 100%;
}


.modal-contact-fon{
    background: rgba(255, 255, 255, 1);
    max-width: 970px;
    width: 100%;
    padding-bottom: 16px;
    position: relative;
    border-radius: 8px;
}
.modal-contact__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 16px;
    border-bottom: 1px solid rgba(248, 246, 244, 1);
}
.modal-contact__title h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
}
.modal-contact__flex{
    display: flex;
    padding: 24px 16px;
    gap: 10px;
}
.modal-contact__map{
    max-width: 397px;
    width: 100%;
    display: flex;
    border: 1px solid rgba(60, 74, 87, 0.4);
    border-radius: 4px;
    height: 226px;
}
.modal-contact__map iframe{
    width: 100%;
    border-radius: 4px;
}

.connect-with-us{
    padding: 24px 16px 0;
    border-top: 1px solid rgba(60, 74, 87, 0.2);
}
.connect-with-form{
    margin-top: 10px;
    display: flex;
    gap: 6px;

}
.connect-with-block{
    max-width: 465px;
    width: 100%;
}
.connect-inp + .connect-inp{
    margin-top: 6px;
}
.connect-inp label, .connect-textarea label{
    display: flex;
    width: 100%;
}
.connect-inp input{
    background: rgba(248, 246, 244, 1);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: rgba(17, 27, 33, 1);
}
.connect-inp input::placeholder{
    color: rgba(115, 135, 154, 1);
}
.connect-inp textarea::placeholder{
    color: rgba(115, 135, 154, 1);
}
.connect-textarea{
    max-width: 465px;
    width: 100%;
}
.connect-textarea textarea{
    font-family: 'Graphik LCG';
    background: rgba(248, 246, 244, 1);
    width: 100%;
    height: 86px;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: rgba(17, 27, 33, 1);
    resize: none;
    border: unset;
}

.connect-with-us .btn-black{
    max-width: 140px;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
}




@media (max-width: 1020px){
    .modal-contact__flex {
        gap: 10px;
        flex-direction: column;
    }
    .modal-contact__map {
        max-width: 100%;
    }
    .modal-contact-fon {
        max-width: 600px;
    }
    #modal-contact .modal-content{
        height: auto;
    }
}
@media (max-width: 760px){
    .connect-with-form {
        flex-direction: column;
    }
    .connect-with-block {
        max-width: 665px;
    }
    .connect-textarea{
        max-width: 665px;
    }
}

@media (max-width: 570px){
    .connect-with-us .btn-black {
        max-width: 100%;
    }
    .modal-contact__title h3 {
        font-size: 16px;
        line-height: 16px;
    }
}