.personal-area__sec{
    margin-top: 20px;
    margin-bottom: 60px;
}
.personal-area__flex{
    display: flex;
    gap: 14px;
}
.personal-area__cnt{
    max-width: 500px;
    width: 100%;
}
.personal-area__info{
    width: 100%;
    background: rgba(204, 233, 239, 1);
    border-radius: 4px;
    padding: 16px;
}
.personal-area__user{
    width: 96px;
    height: 96px;
    padding: 10px;
    border-radius: 4px;
    background: rgba(248, 246, 244, 1);
}
.personal-area__user label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal-area__user input {
    display: none;
}
.personal-area__user label .icons{
    color: rgba(2, 19, 35, 1);
}
.personal-area__form{
    margin-top: 10px;
}
.personal-area__inp{
    margin-bottom: 6px;
    width: 100%;
    position: relative;
}
.personal-area__inp label, .personal-area__textarea label{
    display: flex;
    width: 100%;
}
.personal-area__inp input{
    background: #ffffff;
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
    font-family: 'Graphik LCG';

}
.personal-area__inp input::placeholder{
    color: rgba(115, 135, 154, 1);
}
.personal-area__textarea{
    margin-bottom: 6px;
    width: 100%;
    position: relative;
}
.personal-area__textarea small{
    position: absolute;
    left: 16px;
    top: 14px;
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    font-family: 'Graphik LCG';

}
.personal-area__textarea textarea{
    width: 100%;
    height: 70px;
    padding: 32px 16px 14px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
    border: unset;
    font-family: 'Graphik LCG';
    resize: none;
}

.add-address{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0.6px solid rgba(115, 135, 154, 1);
    width: 145px;
    height: 34px;
    padding: 10px;
    border-radius: 4px;
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    background: unset;
}

.diploma-scan{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    width: max-content;
}
.diploma-scan__iocn{
    border-radius: 50%;
    border: 1px solid rgba(2, 19, 35, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 36px;
    height: 36px;
}
.diploma-scan__iocn i{
    color: rgba(2, 19, 35, 1);
    font-size: 16px;
}
.diploma-scan__name span{
    color: rgba(2, 19, 35, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;

}
.diploma-scan__name small{
    display: block;
    margin-top: 2px;
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;

}
.btn-opacity{
    opacity: 0.3;
    width: 100%;
    height: 41px;
    margin-top: 10px;
}

.change-password{
    margin-top: 14px;
    background: rgba(204, 233, 239, 1);
    border-radius: 4px;
    padding: 16px;
}
.change-password h3{
    color: rgba(2, 19, 35, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}
.change-password__form{
    margin-top: 16px;
}
.eye-pass{
    position: absolute;
    top: 13px;
    right: 16px;
    display: flex;
    cursor: pointer;
}
.eye-pass i{
    color: rgba(2, 19, 35, 1);
    opacity: 0.4;
}
.eye-pass .icon-eye{
    display: none;
}
.eye-pass-active .icon-eye-crossed{
    display: none;
}
.eye-pass-active .icon-eye{
    display: block;
    opacity: 1;
}
.personal-orders{
    box-shadow: 0px -63px 40px 0px rgba(248, 246, 244, 1) inset;
    background: rgba(248, 246, 244, 1);
    max-width: 720px;
    width: 100%;
    border-radius: 4px;
    padding: 16px;
}
.history-orders__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history-orders__flex h3{
    color: rgba(2, 19, 35, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
.history-orders__number{
    display: flex;
    align-items: center;
    gap: 6px;
}
.history-orders__number small{
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;

}
.history-orders__number span{
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(2, 19, 35, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
}


.personal-orders-scr{
    width: 100%;
    height: 680px;
    overflow-y: scroll;
    margin-top: 16px;
}
.personal-orders-scr::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.personal-orders-scr::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}
.personal-orders-box{
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 1);
    padding: 16px;
    border-radius: 4px;
    width: 100%;
}
.orders-cnt-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.orders-cnt-count h4{
    color: rgba(2, 19, 35, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;

}
.orders-cnt-price{
    display: flex;
    align-items: center;
    gap: 16px;
}
.orders-cnt-price small{
    color: rgba(115, 135, 154, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;

}
.orders-cnt-price span{
    color: rgba(2, 19, 35, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
}

.orders-cnt__bord{
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    gap: 6px;
}

.orders-cnt__image{
    border: 0.4px solid rgba(115, 135, 154, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    max-width: 40px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-cnt__name small{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: rgba(115, 135, 154, 1);
    white-space: nowrap;

}
.orders-cnt__name small b{
    color: rgba(60, 74, 87, 1);
    font-weight: 400;
}
.orders-cnt__name span{
    display: block;
    margin-top: 4px;
    color: rgba(60, 74, 87, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
}
.line-order-prod{
    width: 100%;
    height: 1px;
    background: rgba(115, 135, 154, 1);
    opacity: 0.4;
}

.orders-cnt__price span{
    color: rgba(60, 74, 87, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    display: block;

}
.orders-cnt__price small{
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    white-space: nowrap;
}
.orders-cnt__issued, .order-delivery-progress, .awaiting-receipt-nam{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
}
.icon-ptich{
    content: url("../img/checkbox.svg");
}
.orders-cnt__issued small{
    color: rgba(64, 163, 248, 1);
}
.order-delivery-progress small{
    color: rgba(153, 153, 153, 1);
}
.order-delivery-progress i{
    color: rgba(153, 153, 153, 1);
}

.awaiting-receipt-nam small{
    color: rgba(229, 181, 88, 1);
}
.awaiting-receipt-nam i{
    color: rgba(229, 181, 88, 1);

}

.estimated-date-data{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(204, 233, 239, 1);
    border-radius: 4px;
    padding: 10px;
    gap: 6px;
}
.estimated-date-issue small{
    color: rgba(115, 135, 154, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}
.estimated-date-issue span{
    color: rgba(2, 19, 35, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    display: block;
    margin-top: 6px;
}

.btn-white{
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(2, 19, 35, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    width: 87px;
    height: 32px;
    padding: 10px;
    border-radius: 4px;

}
.btn-white:hover{
    background: rgba(221, 221, 221, 1);
}

.btn-white:active{
    background: rgba(221, 221, 221, 1);
}


.modal-person{
    background: rgba(255, 255, 255, 1);
    max-width: 508px;
    width: 100%;
    padding: 0 0 16px;
    border-radius: 8px;
    position: relative;
}
.modal-person-pad{
    padding: 24px 16px 0;
}

.modal-person-box{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
}
.bg-issued{
    background: rgba(204, 233, 239, 1);
}
.bg-delivery-progress{
    background: rgba(238, 238, 238, 1);
}
.bg-awaiting-receipt{
    background: rgba(255, 236, 200, 1);
}
.modal-person__name h3{
    color: rgba(2, 19, 35, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
}
.modal-person__name strong{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
}
.modal-person__name span{
    display: flex;
    margin-top: 4px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: rgba(115, 135, 154, 1);

}
.modal-person__name span b{
    color: rgba(60, 74, 87, 1);
    font-weight: 400;
}

.deliver-payment__block{
    margin-top: 24px;
}
.deliver-payment{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.deliver-payment strong{
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: rgba(2, 19, 35, 1);
}
.deliver-payment p{
    color: rgba(60, 74, 87, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;

}
.deliver-payment>span{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    color: rgba(2, 19, 35, 1);
    max-width: 232px;
    width: 100%;
}
.delete-address{
    position: absolute;
    right: 10px;
    top: 13px;
    color: rgba(153, 153, 153, 1);
    cursor: pointer;
}
.in-total-delivery{
    margin-top: 24px;
    background: rgba(2, 19, 35, 1);
    padding: 14px 16px;
    border-radius: 8px;
}
.in-total__price{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.in-total__price span{
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.btn-line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    background: unset;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 41px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
    border-radius: 8px;
}
.btn-line:hover{
    background: #ffffff;
    color: rgba(2, 19, 35, 1);
}
.modal-person__name small{
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;

}
.diploma-scan-file .reg-add-image{
    display: none;
}
.diploma-scan-file label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
@media (max-width: 1330px){
    .personal-area__cnt {
        max-width: 416px;
    }
    .orders-cnt__name span {
        font-size: 13px;
        line-height: 13px;
    }
    .orders-cnt__name small {
        font-size: 13px;
        line-height: 13px;
    }
    .orders-cnt__price span {
        font-size: 13px;
        line-height: 13px;
    }
}
@media (max-width: 1020px){

    .personal-area__flex {
        flex-direction: column;
    }
    .personal-area__cnt {
        max-width: 750px;
    }
    .personal-orders {
        max-width: 750px;
    }
    .history-orders__flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .personal-area__user {
        margin: 0 auto;
    }
    .personal-area__user label .icons {
        font-size: 20px;
    }
}
@media (max-width: 570px){
    .orders-cnt__bord {
        gap: 10px 6px;
        flex-wrap: wrap;
    }
    .line-order-prod{
        display: none;
    }
    .orders-cnt__price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .orders-cnt__bord{
        border: 1px solid rgba(60, 74, 87, 0.2);
        border-radius: 4px;
        padding: 10px;
    }
    .personal-orders-box {
        padding: 10px;
    }
    .orders-cnt__name span {
        font-size: 12px;
        line-height: 12px;
        white-space: unset;
    }
    .orders-cnt__name small {
        font-size: 12px;
        line-height: 12px;
        white-space: unset;

    }
    .history-orders__number small {
        font-size: 11px;
        line-height: 11px;
    }
    .orders-cnt-price{
        display: none;
    }
    .personal-area__info {
        padding: 10px;
    }
    .deliver-payment{
        flex-wrap: wrap;
        gap: 6px;
    }
    .deliver-payment span {
        text-align: left;
    }

}
@media (max-width: 380px){
    .history-orders__number {
        flex-direction: column;
        align-items: flex-start;
    }
    .personal-orders {
        padding: 10px;
    }
}