@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a3es2p');
  src:  url('fonts/icomoon.eot?a3es2p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a3es2p') format('truetype'),
    url('fonts/icomoon.woff?a3es2p') format('woff'),
    url('fonts/icomoon.svg?a3es2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before {
  content: "\e91d";
}
.icon-eye-crossed:before {
  content: "\e900";
}
.icon-flyers:before {
  content: "\e901";
}
.icon-hand:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-minus:before {
  content: "\e904";
}
.icon-mobile-notch:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-post:before {
  content: "\e907";
}
.icon-report-problem:before {
  content: "\e908";
}
.icon-scanner:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-vk:before {
  content: "\e90d";
}
.icon-tags:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.icon-access-time:before {
  content: "\e910";
}
.icon-apps-add:before {
  content: "\e911";
}
.icon-arrow-left:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e913";
}
.icon-at:before {
  content: "\e914";
}
.icon-box:before {
  content: "\e915";
}
.icon-call:before {
  content: "\e916";
}
.icon-cart-shopping:before {
  content: "\e917";
}
.icon-checkbox:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e919";
}
.icon-credit-card:before {
  content: "\e91a";
}
.icon-delivery:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
